:root{
   --b:50px;
   --red-col:#c02c0e;
   --dark-col: #212529;
}
*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-transform: capitalize;
}
body{
   font-family: "Poppins", sans-serif;
}
ul{
   list-style: none;
}
a{
   text-decoration: none;
}
.container{
   padding: 0 15px;
   margin: 0 auto;
}
/* small screens */
@media (min-width: 768px) {
   .container{
      width: 740px;
   }
}
/* medium screens */
@media (min-width: 992px) {
   .container{
      width: 960px;
   }
}
/* large screens */
@media (min-width: 1200px) {
   .container{
      width: 1170px;
   }
}

/* ------------------------------------------------------------------------------------ */

/* start popup */
.popup{
   width: 900px;
   height: 500px;
   background-color: #ffffff;
   position: fixed;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
   display:  none;
   gap: 20px;
   display: none;
   z-index: 2;
}
.popup img{
   width: 50%;
}
.popup .text{
   flex-basis: 50%;
}
.popup .text .close-button{
   right: 0;
   background-color: var(--red-col);
   padding: 4px 8px;
   color: white;
   top: -32px;
   cursor: pointer;
}
.popup .text h2{
   font-size: 40px;
   margin: 45px 0 25px;
   font-weight: 700;
}
.popup .text p{
   color: #777;
   max-width: 90%;
   margin-bottom: 25px;
   text-align: center;
}
.popup .text form{
   width: 100%;
   text-align: center;
   display: flex;
   justify-content: center;
}
.popup .text form input:first-of-type{
   padding: 10px;
   outline: none;
   color: #777;
   margin: 0;
   border: none;
}
.popup .text form input:first-of-type:focus{
   outline: none;
}
.popup .text form button{
   background-color: var(--red-col);
   color: #ffffff;
   margin: 0;
   outline: none;
   border: none;
   padding: 8px 10px;
   font-weight: 700;
   transition: 0.3s;
}
.popup .text form button:hover{
   background-color: rgb(206, 3, 3);
   display: flex;
   justify-content: center;
   align-items: center;
}
.popup .text .rad{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 35px;
}
.popup .text .rad input:last-of-type{
   width: 15px;
   height: 15px;
}
.popup .text .rad span{
   margin-left: 15px;
   font-size: 15px;
   color: #777;
}
.popup .text .icons{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
   margin-top: 30px;
}
.popup .text .icons a{
   text-decoration: none;
   color: #777;
   display: flex;
   width: 35px;
   height: 35px;
   border-radius: 50%;
   justify-content: center;
   align-items: center;
   background-color: white;
   transition: 0.3s;
}
.popup .text .icons i{
   font-size: 17px;
}
.popup .text .icons a:hover {
   background-color: var(--red-col);
   color: white;
}
.over{
   position: absolute;
   height: 100%;
   width: 100%;
   background-color: #0000005e;
   z-index: -1;
}
/* end popup */

/* -------------------------------------------------- */

/* start top head */
.top-head{
   background-color: var(--red-col);
   padding-top: 20px;
   padding-bottom: 20px;
}
.top-head .container h2{
   min-width: 75px;
}
.top-head .container .form{
   width: 500px;
}
.top-head .container .form .search{
   border-top-left-radius: var(--b);
   border-bottom-left-radius: var(--b);
   border: none;
   outline: none;
   padding: 7px;
   padding-left: 20px;
   font-size: 15px;
   border-right: 1px solid var(--red-col);
   height: 35px;
   flex-basis: 50%;
}
.top-head .container .form .form-select,
.top-head .container .form svg,
.top-head .container .form .form-select,
.top-head .container .form i{
   height: 35px;
   font-size: 14px;
   background-color: white;
}
.top-head .container .form .cat{
   flex-basis: 35%;
   border-radius: 0;
}
.top-head .container .form svg,
.top-head .container .form i{
   background-color: rgb(255, 255, 255);
   border-top-right-radius: var(--b);
   border-bottom-right-radius: var(--b);
   color: black;
   border-left: 1px solid var(--red-col);
   width: 15px;
}
.form-select:focus{
   box-shadow: none;
   border: none;
}
.top-head .container .right ul:not(.h-menu){
   min-width: 400px;
   font-weight: normal;
}
.top-head .container .right ul li{
   font-weight: 500;
   font-size: 14px;
   cursor: pointer;
   transition: 0.3s;
}
.top-head .container .right ul li.icon::before{
   content: "0";
   position: absolute;
   background-color: white;
   width: 17px;
   height: 17px;
   border-radius: 50%;
   color: black;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 12px;
   top: -10px;
   font-weight: 700;
   right: -8px;
}
.top-head .container .right ul li .h-menu{
   background-color: white;
   color: black;
   position: absolute;
   z-index: 10;
   min-width: 150px;
   color: #777;
   top: 50px;
   left: -55px;
   transition: 0.3s;
   display: none;
}
.top-head .container .right ul li:hover .h-menu{
   display: block;
   top: 20px;
}
.top-head .container .right ul li .h-menu li{
   margin-bottom: 10px;
}
.top-head .container .right ul li .h-menu li:hover{
   color: var(--red-col);
}
.top-head .container .right ul li:last-of-type .h-menu{
   width: 250px;
   left: -170px;
}
/* end top head */

/* ------------------------------------------------------------------------- */

/* start header */
.header .main > li {
   transition: 0.3s;
   cursor: pointer;
}
.header .container .main > .main-l:hover{
   color: var(--red-col);
}
.header .main > li::before{
   content: "";
   position: absolute;
   background-color: var(--red-col);
   width: 0%;
   left: 50%;
   transform: translateX(-50%);
   height: 4px;
   bottom: -5px;
   transition: 0.3s;
}
.header .main > li:hover::before{
   width: 100%;
}
.header .main > li.blog::after{
   content: "hot!";
   position: absolute;
   background-color: var(--red-col);
   padding: 1px 5px;
   color: white;
   font-size: 12px;
   top: -20px;
   left: 10px;
   z-index: -4;
}
.header .main > li.blog i::before{
   content: "";
   width: 10px;
   height: 10px;
   position: absolute;
   border: 5px solid var(--red-col);
   border-bottom-color: transparent;
   border-left-color: transparent;
   border-right-color: transparent;
   top: -18px;
   left: -25px;
}
.header .main > li.colc::after{
   content: "new";
   position: absolute;
   background-color: rgb(0, 221, 255);
   padding: 1px 5px;
   color: white;
   font-size: 12px;
   top: -20px;
   left: 10px;
   z-index: -2;
}
.header .main li.colc i::before{
   content: "";
   width: 10px;
   height: 10px;
   position: absolute;
   border: 5px solid rgb(0, 221, 255);
   border-bottom-color: transparent;
   border-left-color: transparent;
   border-right-color: transparent;
   top: 0px;
   left: 15px;
}
.header .container ul > li .mega{
   display: flex;
   width: 680px;
   font-size: 14px;
   background-color: white;
   padding: 0;
   top: 30px;
   transition: 0.3s;
   display: none;
   z-index: 100;
}
.header .container ul > li .mega > ul{
   padding: 0;
   padding-top: 15px;
   padding-bottom: 15px;
}
.header .container ul > li .mega li{
   margin-left: 3rem;
   color: #777;
}
.header .container ul > li .mega li:hover{
   color: var(--red-col);
}
.header .container ul > li:hover .mega{
   display: flex;
}
.header .container .main .mega2 {
   display: flex;
   width: 700px;
   padding: 20px 0 10px 15px;
   margin: 0;
   background-color: white;
   top: 30px;
   display: none;
   z-index: 100;
}
.header .container .main .mega2 .box{
   margin-right: 50px;
}
.header .container .main .mega2 .box h2{
   font-size: 20px;
   border-bottom: 1px solid #b5b3b3;
   padding: 0 35px 10px 0;

}
.header .container .main ul li{
   font-size: 14px;
   color: #777;
}
.header .container .main > li .mega2 .box .list-hold{
   display: flex;
   gap: 40px;
}
.header .container .main > li .mega2 .box .list-hold ul li {
   margin-bottom: 10px;
}
.header .container .main .pages:hover .mega2{
   display: flex;
} 
.header .container .main > .main-l:hover .box{
   color: black;
}
.header .container .main > li .mega2 .box ul li:hover{
   color: var(--red-col);
}
.header .container .main li .mega3 {
   min-width: 650px;
   background-color: white;
   display: flex;
   display: none;
   top: 30px;
   z-index: 100;
}
.header .container .main li .mega3 h4{
   font-size: 13px;
   font-weight: 700;
   color: #777;
}
.header .container .main li:nth-child(3):hover .mega3{
   display: flex;
}
.header .container .main li:nth-child(3) .mega3 .box:hover h4{
   color: var(--red-col);
}
.header .container .main li .mega4 {
   min-width: 700px;
   background-color: white;
   display: flex;
   top: 30px;
   display: none;
   z-index: 100;
}
.header .container .main li .mega4 h2{
   font-size: 22px;
   padding: 0 20px 0px 0;
   border-bottom: 1px solid #dfdede;
   min-width: 180px;
}
.header .container .main li .mega4 .box li:hover{
   color: var(--red-col);
}
.header .container .main li:nth-child(4):hover .mega4{
   display: flex;
}
.header .container .main li:nth-child(5):hover .mega4{
   display: flex;
}
/* end header */

/* -------------------------------------------------------------- */

/* start gallery */
.gal{
   padding-top: 50px;
   padding-bottom: 50px;
}
.gal .container .carousel{
   flex-basis: 60%;
}
.gal .container form h2{
   font-size: 22px;
   text-transform: uppercase;
}
.gal .container form select{
   border: 1px solid #dfd9d9;
   padding: 5px 10px 5px 15px;
   width: 200px;
   margin-bottom: 8px;
   color: #777;
}
.gal .container form select:focus{
   outline: none;
}
.gal .container form svg{
   background-color: #e9e9e9;
   padding: 8px;
   width: 180px;
   color: var(--dark-col);
   margin-bottom: 10px;
}

/* end gallery */

/* ---------------------------------------------------------- */

/* start categories */
.cat .container .heading h2{
   color: #c9c9c9;
   cursor: pointer;
   transition: 0.3s;
   padding: 10px;
}
.cat .container .heading h2:first-of-type{
   color: black;
}
.cat .container .heading h2::before{
   content: "";
   position: absolute;
   width: 70%;
   height: 2px;
   bottom: 0;
   background-color: black;
   left: 50%;
   transform: translateX(-50%);
   transition: 0.3s;
}
.cat .container .heading h2:not(:first-of-type)::before{
   width: 0%;
}
.cat .container .heading h2:not(:first-of-type):hover{
   color: black;
}
.cat .container .heading h2:not(:first-of-type):hover::before{
   width: 70%;
}.cat .container .boxes .box{
   overflow: hidden;
   transition: 0.3s;
}
.cat .container .boxes .box h5{
   font-size: 17px;
   transition: 0.3s;
   cursor: pointer;
   margin-top: 15px;
}
.cat .container .boxes .box h5:hover{
   color: var(--red-col);
}
.cat .container .boxes .box img{
   cursor: pointer;
}
.cat .container .boxes .box h4{
   color: var(--red-col);
}
.cat .container .boxes .box .icons{
   left: -32px;
   top: 25px;
   transition: 0.3s;
}
.cat .container .boxes .box .icons svg{
   width: 12px;
   height: 12px;
   background-color: #777;
   padding: 10px;
   border-radius: 50%;
   cursor: pointer;
   transition: 0.3s;
}
.cat .container .boxes .box .icons svg:hover{
   background-color: var(--red-col);
}
.cat .container .boxes .box:hover .icons{
   left: 10px;
}
.cat .btn{
   padding: 10px 15px;
   color: white;
   background-color: var(--red-col);
   margin: 10px auto;
   display: block;
   border-radius: 50px;
}
/* end categories */

/* ------------------------------------------------------------ */

/* start vid */
.vidx{
   padding-top: 50px;
   padding-bottom: 50px;
   background-image: url("images/gal3.jpg");
   background-size: cover;
   width: 100%;
   margin-bottom: 100px;
   position: relative;
   z-index: 1;
}
.vidx::before{
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: #0000009e;
   top: 0;
   left: 0;
   z-index: -1;
}
.vidx .container a{
   position: relative;
}
.vidx .container a svg{
   position: absolute;
   left: 50%;
   top: 50%;
   font-size: 80px;
   color: var(--red-col);
}
.vidx .container a::before{
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.482);
}
.vidx .container h2{
   font-size: 25px;
   margin-bottom: 20px;
}
.vidx .container p{
   max-width: 800px;
   text-align: center;
   color: white;
   margin-bottom: 20px;
   margin-top: 20px;
}
.vidx .container button{
   padding: 10px 15px;
   background-color: var(--red-col);
   color: white;
   border: none;
   border-radius: 5px;
   transition: 0.3s;
}
.vidx .container button:hover{
   background-color: #8d1b05;
}
/* end vid */

/* ---------------------------------------------------------- */

/* start team */
.team .container .box{
   background-image: url("/images/team1.jpg");
   flex-basis: 30%;
   height: 300px;
}
.team .container .boxes .box .card{
   font-size: 15px;
   text-align: center;
   width: 300px;
   top: -20px;
   left: 0;
   opacity: 0;
   transition: 0.3s;
}
.team .container .boxes .box:hover .card{
   top: 0;
   opacity: 1;
}
.team .container .boxes .box .card .icons-holder svg{
   color: darkgoldenrod;
}
/* end team */

/* ---------------------------------------------------------- */

/* start fixed right sidebar */
ul.fixed li.x,
ul.fixed li.x svg{
   background-color: var(--red-col);
   cursor: pointer;
}
ul.fixed li.x::before{
   content: "";
   position: absolute;
   font-size: 15px;
   left: 100px;
   background-color: var(--red-col); 
   height: 100%;
   padding: 10px;
   transition: 0.3s;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: -1;
   width: fit-content;
}
.fixed li.x:nth-child(1)::before{
   content: "categories";
}
.fixed li.x:nth-child(2)::before{
   content: "cart";
}
.fixed li.x:nth-child(3)::before{
   content: "account";
}
.fixed li.x:nth-child(4)::before{
   content: "search";
}
.fixed li.x:nth-child(5)::before{
   content: "recent view";
}
.fixed li.x:nth-child(6)::before{
   content: "go to top";
}
.fixed li.x:nth-child(1):hover::before{
   left: -100px;
}
.fixed li.x:nth-child(2):hover::before{
   left: -50px;
}
.fixed li.x:nth-child(3):hover::before{
   left: -80px;
}
.fixed li.x:nth-child(4):hover::before{
   left: -70px;
}
.fixed li.x:nth-child(5):hover::before{
   left: -110px;
}
.fixed li.x:nth-child(6):hover::before{
   left: -90px;
}
/* end fixed right sidebar */

/* ----------------------------------------------------------- */

/* start footer */

footer .container .box a{
   color: white;
   transition: 0.3s;
}
footer .container .box .a-holder a:hover{
   color: var(--red-col);
}
footer .container .box .icon-holderl a{
   width: 40px;
   height: 40px;
   background-color: #777;
   margin-right: 10px;
   border-radius: 5px;
   font-size: 20px;

}
footer .container .box .icon-holderl a:hover{
   background-color: var(--red-col);
}
footer .container .box .icon-holderl a:hover i{
   color: white;
}
footer .container .box input{
   border: none;
   outline: none;
   padding: 15px 10px 15px 20px;
   margin-bottom: 10px;
}
footer .container .box input:focus{
   outline: none;
}
footer .container .box button{
   width: fit-content;
   padding: 10px 30px;
   border: none;
   color: white;
   font-size: 20px;
   background-color: var(--red-col);
   transition: 0.3s;
   margin-top: 10px;
}
footer .container .box button:hover{
   background-color: #8d1b05;
}
hr{
   color: #777;
   width: 57%;
   margin: 50px auto 10px;
}
footer .container:last-of-type{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
footer .container:last-of-type p{
   color: white;
}
footer .container:last-of-type p a{
   color: var(--red-col);
}
/* end footer */

/* -------------------------------------------------------- */

/* start componants */
.componants .container .box{
   margin-right: 20px;
   padding: 20px 50px 0;
}
.componants .container .box:not(:last-child){
   border-right: 1px solid #b5b3b3;
}
.componants .container .box svg{
   font-size: 75px;
   margin-bottom: 60px;
   color: rgb(33,37,4);
   transition: 0.3s;
}
.componants .container .box svg:hover{
   color: var(--red-col);
}
.componants .container .box h3{
   font-weight: normal;
   font-size: 20px;
   transition: 0.3s;
   cursor: pointer;
}
.componants .container .box h3:hover{
   color: var(--red-col);
}
/* end componants */